// app global css

@font-face{
font-family: promptR;
src:url(../assets/Prompt-Regular.ttf)
}

body{
font-family: promptR;
background: url("../assets/bg-dark-3.jpg") no-repeat fixed center;
background-size: cover;
widows: 100%;
height: 100vh;
}
.brx {
  border:1px solid#f00;
}